doctype html
html(lang="en")
	head
		title reddit processor
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
			rel='stylesheet'
			integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
			crossorigin='anonymous'
		)
		link(href='/css/index.css' rel='stylesheet')
	body
		.container
			.page-header
				h1 reddit processor

			ul.task-tabs.nav.nav-tabs(role='tablist')
				li.active: a(href='#task1' data-toggle="tab" role='tab') Task 1
				li: a(href='#task2' data-toggle="tab" role='tab') Task 2

			.tab-content
				.tab-pane.active#task1(role='tabpanel')
					form.main-form
						.form-group
							label JSON URL
							input.form-control(
								type='text'
								name='url'
								required=true
								value='https://www.reddit.com/r/javascript/.json'
							)

						hr
						.form-group
							label 1. Handler
							div
								label.radio-inline
									input(type='radio' name='handler' value='sort' checked=true)
									| sort
								label.radio-inline
									input(type='radio' name='handler' value='aggregate')
									| aggregate
						.handler-sort
							.form-group
								label Sorting field
								input.form-control(type='text' name='sortField' value='id')
							.form-group
								label Sorting order
								div
									label.radio-inline
										input(type='radio' name='sortOrder' value='ASC' checked=true)
										| ASC
									label.radio-inline
										input(type='radio' name='sortOrder' value='DESC')
										| DESC
						hr
						.form-group
							label 2. Formatter
							div
								label.radio-inline
									input(type='radio' name='formatter' value='csv' checked=true)
									| CSV
								label.radio-inline
									input(type='radio' name='formatter' value='sql')
									| SQL
						.formatter-csv
							label Delimiter
							div
								label.radio-inline
									input(type='radio' name='delimiter' value=',' checked=true)
									| ,
								label.radio-inline
									input(type='radio' name='delimiter' value=';')
									| ;
						.formatter-sql.hidden
							label Table name
							input.form-control(type='text' name='tableName' value='data')
						hr
						.form-group
							button.btn.btn-primary(type='submit')
								span.loading.hidden.glyphicon.glyphicon-refresh.space-after.rotating
								| Parse
						.form-group
							.bg-danger
								p.error.hidden
						.form-group
							label Result
							textarea.result.form-control(rows='10')

				.tab-pane#task2(role='tabpanel')
					form
						.form-group
							textarea.task2-in.form-control(rows='10')
						.form-group
							textarea.task2-out.form-control(rows='10')
						.form-group
							button.task2-run.btn.btn-primary Run
						.form-group
							.bg-danger
								p.task2-error.hidden

		footer.footer
			.container
				p.text-muted

		script(
			src='https://code.jquery.com/jquery-2.2.4.min.js'
			integrity = 'sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44='
			crossorigin='anonymous'
		)
		script(
			src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
			integrity = 'sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS'
			crossorigin='anonymous'
		)
		script(src='/js/task1.js')
		script(src='/js/task2.js')
